
# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
*.cover
*.py,cover
.pytest_cache/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.envrc
env.local

# End of https://www.toptal.com/developers/gitignore/api/python
